################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ExampleUsage/bin/Debug/netcoreapp3.1
/ExampleUsage/.vs/ExampleUsage/v16/Server/sqlite3
/ExampleUsage/obj
